body {
    font-family: Arial, Helvetica, sans-serif;
    background: #555555;
}

#content {
    width: 200px;
    margin: 50px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

h1 {
	text-align: center;
}

p {
	color: blue;
	font-weight: bold;
	text-align: left;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 75px;
}

#futureValue {
    color: green;
}

br {
    clear: left;
}
